.jobScopeContainer {
  // min-height: 100vh;
  height: 100vh;
  // width: 100vw;
  // place-content: center;
  // display: grid;
  // background: linear-gradient(rgb(96, 29, 222), rgb(44, 9, 142));
  background: linear-gradient(rgb(96, 29, 222), rgb(12, 0, 43));

  .video-js {
    height: 23em;
    width: 100%;
    // background-color: white;
    // aspect-ratio: 16 / 9;
  }

  // .firstVideoContainer {
  //   position: relative;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   .firstVideoLoader {
  //     position: absolute;
  //     // left: 111px;
  //   }
  // }
}
